.parentContainer{
    background-color: #E6DACE;
    padding-top: 8%;
    width: 100%;
    margin-top: 19vh;
    padding-bottom: 25vh;
}

.contactBody {
    background-color: white;
    width: 50vw;
    height: 140vh;
    margin: auto;
    margin-top: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    /* justify-content: center; */
    /* align-items: center; */
}

.firstField{
    display: flex;
    flex-direction: row;
    gap: 20%;
    padding-left: 1vw;
}


.inputField {
    border: none;
    border-bottom: 2px solid;
    outline: none;
    width: 18vw;
}

.custom-button {
    background-color: blue;
    border: none;
    color: white;
    width: 12%;
    border-radius: 9%;
    outline: none;
    margin-left: 2%;
    margin-top: -2%;
}

@media screen and (max-width: 620px) {
    .parentContainer{
        padding-top: 15%;
        padding-bottom: 15vh;
    }
    .contactBody {
        width: 90vw;
        height: 140vh;
        margin-top: 2%;
        padding-top: 2%;
        gap: 7%;
    }
    .firstField{
        flex-direction : column;
        gap: 35%;
        margin: 10% 0.5;
        height: 20%;
    }
    .inputField {
        border: none;
        border-bottom: 2px solid;
        outline: none;
        width: 100%;
    }
    .custom-button {
        width: 40%;
        margin: auto;
    }
}