.parentCont{
    background-color: #E6DACE;
    padding-top: 8%;
    width: 100%;
    margin-top: 19vh;
    padding-bottom: 25vh;
    border: 2px solid;
}


.ProjectPara{
    width: 50%;
    margin: auto;
    margin-top: 2%;
}


.ProjectCard{
    background-color: white;
    width: 57%;
    margin: auto;
    margin-top: 6%;
    display: flex;
}
.Cardpara{
    width: 60%;
    padding-left: 8%;
}

.Cardpara h4{
    margin-top: 17%;
    color: blue;
    font-weight: bold;
}



/* Card Picture style starting from here */

.CardPic{
    width: 40%;
    height: 67vh;
}


/* .Rescontainer{
    padding-right: 1px;
    padding-left: 5px;
    border: 2px solid mediumblue;
   } */


@media screen and (max-width: 780px) {

    /* .parentCont{

    } */
    
    .ProjectCard{
        background-color: white;
        width: 100%;
        margin: auto;
        margin-top: 6%;
       flex-direction: column;
    }

    .ProjectPara{
        width: 100%;
        margin-top: 2%;
        margin-left: 1.5%;
    }

    .CardPic{
        width: 100%;
        height: 67vh;
    }
    .Cardpara{
        width: 100%;
        padding-left: 1.5%;
    }
  }